<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @apple, url: apples_path, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>名前:<%= @apple.name %></p>
  <p>タイトル:<%= @apple.title %></p>
  <p>本文:<%= @apple.content %></p>
  <%= form.submit  "登録する" %>

  <%= form.submit "戻る", name:'back'  %>
<% end %>
