<h1>ブログ一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @apples.each do |apple| %>
  <tr>
    <td><%= apple.name %></td>
    <td><%= apple.title %></td>
    <td><%= apple.content %></td>


    <td><%= link_to '詳細を確認する',apple_path(apple.id) %></td>
    <td><%= link_to 'ブログを編集する',edit_apple_path(apple.id),data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to 'ブログを削除する',apple_path(apple.id),method: :delete,data: { confirm: '本当に削除していいですか？' } %></td>


  </tr>
<% end %>
</table>

<%= link_to '新規作成のページ',new_apple_path %>
